<!DOCTYPE html>
<html>
<head>
  <title>ReactToCheese</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='main'>
    <div class='row'>
      <div class='col-sm-4'>
        <h1><%= link_to "Cheese Head", root_path %><%= "#{current_user.name}" if session[:user_id]%></h1>
      </div>
    </div>
  </header>
  <main>

    <div class='row'>
      <div class='content col-sm-6'>
        <%= react_component("Navigation") %>
      </div>
      <div class='content col-sm-6 login'>

      </div>
    </div>
       <%= yield %>

  </main>
</body>
</html>
